<h1>Форма регистрации</h1>
<form action="/registration" method="POST">
<div>
    <input type="text" name="email" placeholder="E-mail">
</div>
<div>
    <input type="text" name="fullName" placeholder="fullName">
</div>
<div>
    <input type="password" name="password" placeholder="Введите пароль">
</div>
<div>
    <input type="password" name="repassword" placeholder="Введите пароль повторно">
</div>
<div>
    <input type="submit" value="Регистрация">
</div>
</form>